<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Gmail" >
	<test name="GmailTest">
		<classes>
			<class name="LoginDemoTng">
				<methods>
					<include name="login" />
					<include name="compose" />
					<include name="logout" />
				</methods>
			</class>
		</classes>
	</test>

</suite>